// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

.login-control{
    padding: 1.3rem !important;
  }
  #loginbtn{
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
  }

  
.card{
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    border-radius: 10px;
    padding: 0.5em 0.5em;
}


.bg-black{
  background-image: url('../images/Prime POS.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.loginform{
  width: 25em;
  max-width: 30em;
  padding: 2em 1em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
body{
  padding: 2rem 2rem;
  margin: auto;
}