#main{
  padding-right:2px !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /*overflow: auto; /* Enable scroll if needed */
 /* background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 /* background-color: #fefefe;
  margin: 30px 30px ; /* 15% from the top and centered */
 /* padding: 20px;
  border: 1px solid #888;
  width: 50px; *//* Could be more or less, depending on screen size */
}


.login-control{
  padding: 1.3rem !important;
}
#loginbtn{
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}

.bg-black{
  background-image: url('../images/Prime POS.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.d-flex .flex-row{
  gap: 15px;
}
.card{
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    border-radius: 10px;
    padding: 0.5em 0.5em;
}

.card-info{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
  padding: 0.8em 0.8em;
  margin-top: 5px;
}

input[type=text]{
    padding: 2px !important;
}

ul{
    list-style: none;
}
.loginform{
    width: 25em;
    max-width: 30em;
    padding: 2em 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#profileicon:hover{
    cursor: pointer;
}

#profile{
  
   margin-top: 20px;
    z-index: 10;
    width: 50px;
}
.item-category ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.item-category ul li{
    float: left;
}
.item-category li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    padding: 0.5em;
    background-color: black;
    margin-right: 0.5em;
    border-radius: 5px;
  }

  .hr{
    height: 0.05em;
    border: 1px solid #ccc
  }
 hr{
  margin-top:0px !important;
 }

  .item-tile{
    border: 1px solid rgb(143, 143, 150);
    width: 10rem;
    height: auto;
    padding-left: 2px;
    padding-right: 2px;
    max-height: 14rem;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 1rem;
    text-align: center;
    transition: 452ms;
  }
  .item-tile:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  .item_link{
    text-decoration: none;
    color: #023;
  }
  .item-txt{
    text-align: center;
    font-size: 0.8rem;
    
  }
  #products_list{
    flex-wrap: wrap;
  }
  #prod_image{
    width: 50px;
    height: auto;
  }
  .item_cat{
    background-color: #0d6efd;
    font-size: 0.8em;
    color: #fff;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
  }
  .item_title{
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
   text-overflow:ellipsis;
  }

  .positem_remove:hover{
    color: red;
  }

  .pos_cost_table{
   
    border-collapse: collapse;
  }

  .pos_table tbody tr td{
   font-size: 1rem;
  }
  #pos_cost_table, table, tbody, tr, td{
   
   padding-left: 15px;
  }

  .pos_list{
    height: auto;
    min-height: 40vh;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
  }

  .stars{
    font-size: 0.8rem;
  }
  .checked{
    color: hsl(44, 98%, 52%);
  }

  /** Star Rating Styles **/
  span.stars, span.stars span {
    display: block;
    /*background: url(stars.png) 0 -16px repeat-x;*/
    color: hsl(44, 98%, 52%);
    width: 80px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
 /** End Star Rating Styles **/

 #productimage{
  border: 1px solid #83aae4;
  border-radius: 5px;
  background-image:url('');
  background-size:cover;
  background-position: center;
  height: 100px; width: 100px;

 }

 .setrating{
  transition: 452ms;
 }
 .setrating:hover{
  transform: scale(1.08);
  color: hsl(44, 98%, 52%); 
  cursor: pointer;
 }
 #productimage{
  background-image: url('../images/box.png');
  background-repeat: no-repeat;
  background-size: 50px 50px;

 }

body,input[type='search']{
  font-family: fortawesome;
}

.input-icons i {
  position: absolute;
}

.icon {
  top: 85px;
  color: #c7c7c7;

  padding-left: 5px;
  min-width: 40px;
  color: green;
            min-width: 50px;
            text-align: center;
}
.searchfield{
  padding: 25px !important;
  text-align: right;
}
table#transactions_table, tbody, tr, td{
  font-size: 0.8rem;
}
table#transactions_table tbody tr:hover td{
  cursor: pointer;
  background-color: #0d6efd;
  color: #fff;
}

.transtype{
  width: 10rem;
  height: 10rem;
  font-size: 3rem;
  font-weight: 100;
}

#payment{
  font-weight: bolder;
  text-align: center;
}
.current{
background-color:rgb(39, 39, 44);
}

.alert{
min-width: 5rem;
height: auto;
font-size: 13px;
padding-top: 0.3rem !important;
margin-left: 2px !important;

}